@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	width: 100%;

	@include mobile-large {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
}

.button {
	display: none;

	@include mobile-large {
		display: block;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: func.rem(16);
	grid-auto-flow: dense;
	align-items: stretch;

	@include mobile-large {
		display: block;
		white-space: nowrap;
		overflow-x: auto;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE 10+ */

		&::-webkit-scrollbar {
			display: none;
		}
	}

	@include mobile-large {
		gap: 8px;
	}
}

.cell {
	min-width: 170px;
	display: flex;
	height: 280px;
}

.cell_wide2 {
	grid-column: span 2;
}

.cell_wide3 {
	grid-column: span 3;
}

/* mobile items inline */
.item {
	@include mobile-large {
		display: inline-block;
		width: calc(100% / 4 - 8px);
		vertical-align: top;
		margin-right: 8px;
	}
}
