@use "@styles/func";
@use "@styles/variables";
@use "@styles/mixins";

.root {
  @include mixins.reset-btn;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background: linear-gradient(75deg, rgb(250, 69, 126, 0.0) 0%, rgb(123, 73, 255, 0.0) 100%);
  font-size: 18px;
  line-height: 1.4;
  padding: 16px;
  cursor: pointer;
  transition: variables.$transition;
  transition-property: color, background-color, border-color;
  outline: none;
  user-select: none;
  will-change: transform;
  transition: all variables.$transition;

  border-radius: 40px;

  &:hover {
    transform: translateY(-5px);
  }

  @include mixins.tablet {
    font-size: 16px;
  }

  @include mixins.mobile-large {
    padding: 13.5px;
    font-size: 14px;
  }

  &:disabled {
    color: var(--color-black);
    background-color: var(--color-grey-hover);
    pointer-events: none;
  }
}

/* Variants */
.root_gradient {
  color: var(--color-white-default);
  background: linear-gradient(75deg, var(--color-purple-light) 0%, var(--color-purple-dark) 100%);
  border: none;
}

.root_gradientOutline {
  color: var(--color-purple);
  background: transparent;
  border: 1px solid transparent;
  background-image: linear-gradient(var(--color-white-default), var(--color-white-default)),
    linear-gradient(75deg, var(--color-purple-light) 0%, var(--color-purple-dark) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/* Gradient text to match border gradient for outline variant */
.root_gradientOutline .text {
  background: linear-gradient(75deg, var(--color-purple-light) 0%, var(--color-purple-dark) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.root_purple {
  color: var(--color-white-default);
  background: var(--color-purple);
  border: none;
}

.root_purpleOutline {
  color: var(--color-purple);
  background: linear-gradient(75deg, rgb(250, 69, 126, 0.0) 0%, rgb(123, 73, 255, 0.0) 100%);
  border: 1px solid var(--color-purple);
}

.root_white {
  color: var(--color-purple);
  background: var(--color-white-default);
  border: none;
}

.root_whiteOutline {
  color: var(--color-white-default);
  background: linear-gradient(75deg, rgb(250, 69, 126, 0.0) 0%, rgb(123, 73, 255, 0.0) 100%);
  border: 1px solid var(--color-white-default);
}

.content {
  display: inline-flex;
  align-items: center;

  width: 100%;

  justify-content: center;
}

.icon {
  display: inline-flex;
  opacity: 1;

  width: 36px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.text {
  display: inline-flex;
  transition: transform variables.$transition;
}
