@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	width: 100%;
	margin-bottom: 50px;
}

.inner {
	display: flex;
	flex-direction: column;
	gap: func.rem(24);

	margin-bottom: func.rem(50);
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: func.rem(16);
}

.title {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;

	max-width: 70%;

	display: inline-flex;
	align-items: center;
	gap: func.rem(10);
}

.mark {
	display: inline-flex;
	align-items: center;
	gap: func.rem(8);

	padding: 13.5px 24px;
	border-radius: 16px;
	border: 1px solid var(--color-primary);
	color: var(--color-primary);

	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;

	transition: all variables.$transition;

	&:hover {
		transform: translateY(-5px);
		background-color: rgba(164, 82, 215, 0.12);
	}
}

.content {
	width: 100%;
}
