@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	width: 100%;
	position: relative;
}

.inner {
	display: flex;
	align-items: flex-start;
	gap: func.rem(16);

	margin-bottom: 50px;

	@include mixins.tablet {
		margin-bottom: 30px;
	}

	@include mixins.mobile-large {
		margin-bottom: 16px;

		gap: 12px;
	}
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;

	flex-grow: 2;
}

.title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
	max-width: 1000px;

	color: #333;

	display: inline-block;
	gap: func.rem(10);

	@include mixins.tablet {
		font-size: 24px;

		max-width: 100%;
	}

	@include mixins.mobile-large {
		font-size: 20px;

		max-width: 100%;
	}

	transition: all variables.$transition;

	&:hover {
		transform: translateX(10px);
	}
}

.title_lg {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;

	@include mixins.tablet {
		font-size: 24px;
	}

	@include mixins.mobile-large {
		font-size: 20px;
	}
}

.title_hideMobile {
  @include mixins.mobile-large {
    display: none;
  }
}

.mark {
	display: inline-flex;
	align-items: center;
	gap: func.rem(8);

	flex-grow: 1;

	width: 100%;
	max-width: max-content;

	padding: 13.5px 24px;
	border-radius: 32px;
	border: 1px solid var(--color-primary);
	color: var(--color-primary);

	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;

	@include mixins.mobile-large {
		display: none;
	}
}

.description {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;

	@include mixins.tablet {
		font-size: 18px;
	}

	@include mixins.mobile-large {
		font-size: 14px;
	}
}

.content {
	width: 100%;
}
