@use '@styles/func';
@use '@styles/mixins' as *;
@use '@styles/variables';

.root {
	margin: 0 auto;
}

.container {
	max-width: 930px;
	width: 100%;
}

.content {
	display: flex;
	align-items: center;
	gap: 40px;
	background: #fff;
	border-radius: 24px;
	padding: 24px 40px;

	@include mobile-large {
		padding: 0;
		background: transparent;
		gap: 16px;
		flex-direction: column-reverse;
	}
}

.textSection {
	flex: 1;
	max-width: 566px;
}

.title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.4;
	color: #2c2c2c;
	margin: 0 0 16px 0;

	@include mobile-small {
		font-size: 20px;
	}
}

.description {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.4;
	color: #424242;
	margin: 0 0 16px 0;

	@include mobile-large {
		font-size: 14px;
	}
}

.email {
	text-decoration: underline;
	color: #A452D7;
	font-weight: 400;
}

.hint {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	color: #6b6b6b;
	margin: 0;
}

.illustrationSection {
	flex-shrink: 0;
	width: 244px;
	height: 244px;

	@include mobile-large {
		width: 100px;
		height: 100px;
	}

	img {
		@include mobile-large {
			width: 100px;
			height: 100px;
		}
	}
}
