@use '@styles/func';
@use '@styles/mixins' as *;

.root {
  display: block;
  line-height: 0;

  svg {
    width: 300px;
    height: 50px;

    @include desktop {
      width: 250px;
      height: 40px;
    }

    @include tablet {
      width: 150px;
      height: 25px;
    }
  }
}
