// breakpoints
$desktop: 1601px;
$tablet: 1397px;
$tablet-small: 1045px;
$mobile-large: 965px;
$mobile-small: 371px;
$mobile: 321px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// transitions
$transition-duration: 0.3s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;
