// breakpoints
$desktop: 1600px;
$tablet: 1316px;
$tablet-small: 1044px;
$mobile-large: 964px;
$mobile-small: 370px;
$mobile: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// transitions
$transition-duration: 0.3s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;
