@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 16px;
}

.item {
	background: var(--color-white-default);
	border: 1px solid rgba(0, 0, 0, 0.08);

	&:first-child {
		border-radius: 16px 16px 0 0;
	}

	&:last-child {
		border-radius: 0 0 16px 16px;
	}
}

.itemHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 31px 24px;
	cursor: pointer;
	transition: background-color variables.$transition;

	@include text;

	&:hover {
		background-color: rgba(0, 0, 0, 0.02);
	}
}

.itemTitle {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 600;

	@include tablet-small {
		font-size: 18px;
	}

	@include mobile-small {
		font-size: 14px;
		font-weight: 700;
	}
}

.itemArrow {
	flex: 0 0 auto;
	width: 44px;
	height: 44px;
	transform: rotate(0deg);
	transition: transform variables.$transition;
}

.item_open {
	.itemArrow {
		transform: rotate(180deg);
	}
}

.itemContent {
	padding: 0 24px 0;
	max-height: 0;
	overflow: hidden;
	transition:
		max-height variables.$transition,
		padding variables.$transition;

	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;

	@include mobile-small {
		font-size: 14px;
	}

}

.itemContent_open {
	padding: 12px 24px 24px;
}
