@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 16px;
}

.item {
	background: var(--color-white-default);
	border: 1px solid rgba(0, 0, 0, 0.08);

	&:first-child {
		border-radius: 16px 16px 0 0;
	}

	&:last-child {
		border-radius: 0 0 16px 16px;
	}
}

.itemHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: func.rem(12);
	padding: 24px 24px 30px;
	cursor: pointer;
	transition: background-color variables.$transition;

	@include mixins.text;

	&:hover {
		background-color: rgba(0, 0, 0, 0.02);
	}
}

.itemTitle {
	font-weight: 600;
}

.itemArrow {
	flex: 0 0 auto;
	width: func.rem(24);
	height: func.rem(24);
	transform: rotate(0deg);
	transition: transform variables.$transition;
}

.item_open {
	.itemArrow {
		transform: rotate(180deg);
	}
}

.itemContent {
	padding: 0 24px 0;
	max-height: 0;
	overflow: hidden;
	transition:
		max-height variables.$transition,
		padding variables.$transition;
}

.itemContent_open {
	padding: 12px 24px 24px;
}
