@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: func.rem(20);

	@include tablet-small {
		// На мобильных скрываем десктопную сетку
		display: none;
	}
}

.column {
	display: grid;

	border-radius: 20px;
	padding: 20px;

	&_was {
		background: #FFE8E9;
	}

	&_before {
		background: #D9FFDF;
	}

	&_title {
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		color: #333333;
		text-align: center;
		margin-bottom: 40px;
	}
}

.pair {
	display: none;

	@include tablet-small {
		display: flex;
		flex-direction: column;
	}
}

.card {
	border-radius: func.rem(12);

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;

	margin-bottom: 24px;

	&_was {
		background: #FFE8E9;
	}

	&_became {
		background: #D9FFDF;
	}

	@include tablet-small {
		flex-direction: column;
		align-items: flex-start;

		gap: 8px;
	}

	&_header {
		svg {
			width: 70px;
			height: 70px;

			@include tablet-small {
				width: 30px;
				height: 30px;
			}
		}
	}
}

.cardHeader {
	display: flex;
	align-items: center;
	gap: func.rem(10);
	font-weight: 600;
	margin-bottom: func.rem(8);

	@include tablet-small {
		margin-bottom: 0;
	}
}

.icon {
	width: func.rem(28);
	height: func.rem(28);
	flex: 0 0 auto;
}

.title {
	font-weight: 600;
	margin-bottom: func.rem(8);
}

.list {
	display: block;

	font-size: 18px;
	line-height: 150%;
	color: rgba(24, 24, 24, 0.8);
}
