@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid {
  width: 100%;
  min-width: 0; // Prevent overflow in Safari grid
  align-items: start; // выравниваем карточки по верху, чтобы ряды совпадали

  @include mixins.mobile-large {
    display: flex !important;
    flex-direction: column;
    gap: func.rem(16) !important;
  }
}

.moreWrap {
  display: flex;
  justify-content: center;
}
