@use '@styles/func';
@use '@styles/mixins';
@use '@styles/variables';

.root {
  width: 100%;
  padding: func.rem(40) 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mixins.tablet {
    gap: 24px;
  }

  @include mixins.tablet-small {
    gap: 60px;
  }
}

.titleHandler {
  gap: 16px;

  h1 {
    color: #333333;
  }

  div {
    color: #454444;
  }
}

.title {
  color: var(--color-blue);
  text-align: center;
  margin: 0 auto func.rem(32);
}

.content {
  background-color: #D9E3FF;
  padding: 40px 40px 11px;

  display: flex;
  flex-direction: column;
  border-radius: 24px;

  @include mixins.tablet {
    padding: 24px;
  }

  @include mixins.tablet-small {
    padding: 16px 12px;
    border-radius: 12px;
  }
}

.contentFlex {
  display: flex;
  gap: 60px;

  @include mixins.desktop {
    gap: 10px;
  }
}

.titleForm {
  width: 100%;

  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: #454444;

  @include mixins.tablet-small {
    font-size: 24px;
    line-height: 1.4;
  }
}

.form {
  max-width: 50%;
  margin-top: 30px;

  @include mixins.tablet-small {
    max-width: 100%;
    margin-top: 0;
  }
}

.image {
  display: block;
  width: 665px;
  height: auto;
  margin: 0 auto;

  @include mixins.tablet-small {
    display: none;
  }
}

.wb {
  background: linear-gradient(75deg, #FA457E 0%, #7B49FF 100%);
  -webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.ozon {
  color: #005BFF;
  margin-right: 10px;
}

.icon_profit {
  display: inline-flex;
  vertical-align: middle;

  svg {
    width: func.rem(92);
    height: func.rem(55);

    @include mixins.tablet {
      width: 70px;
      height: 40px;
    }
  }
}

.iconwb {
  @include mixins.tablet {
    display: none;
  }
}

.purple {
  color: #A452D7;
}
