@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
  position: fixed;
  max-width: 1600px;
  width: 100%;
  margin: 20px auto 0;

  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  &::after {
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: max(#{func.rem(2)}, 2px);
    background-color: var(--color-blue-border);
  }

  strong {
    font-weight: 500;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  background-color: var(--color-white-default);

  border-radius: 16px 16px 0 0;

  @include mixins.tablet {
    padding: 18px 16px;
	}
}

.meta {
  display: flex;
  align-items: center;
  gap: func.rem(12);
}

.icon {
  line-height: 0;
}

.phone {
  display: inline-flex;
  align-items: center;
  gap: func.rem(8);
  padding: func.rem(10) func.rem(12);

  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  cursor: pointer;


  @include mixins.tablet {
    font-size: 14px;
	}

  @media (max-width: 1167px) {
		font-size: 12px;

    padding: 0;
	}

  @include mixins.mobile-large {
    transition: transform variables.$transition;

    width: 30px;
    height: 30px;

    span {
      width: 100%;
      height: 100%;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.messengers {
  display: inline-flex;
  gap: func.rem(8);
}

.messenger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: func.rem(36);
  height: func.rem(36);
  border-radius: func.rem(8);
  background: rgba(0, 0, 0, 0.06);

  &_tg {
    color: #229ed9;
  }
  &_wa {
    color: #25d366;
  }
}

.loginBtn {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;

  @include mixins.tablet {
		font-size: 14px;
	}

  @media (max-width: 1167px) {
		font-size: 12px;
	}
}

.promo {
  border-radius: 0 0 16px 16px;

  background: #A452D7;
  padding: 20px 185px 20px 200px;

  position: relative;

  @include mixins.tablet {
    padding: 20px 140px 20px 120px;
  }

  @include mixins.mobile-large {
    padding: 20px 8px 20px 8px;

    overflow: hidden;
  }
}

.promoInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: func.rem(16);

  background: url('../../../public/images/papersplaneheader.png') no-repeat 70% center;

  @include mixins.tablet {
    position: relative;
    z-index: 2;

    background: none;
  }

  @include mixins.mobile-large {
    gap: 0;
  }
}

.promoText {
  color: var(--color-white-default);
  font-weight: 700;
  line-height: 1.3;
  font-size: 22px;

  @include mixins.tablet {
    font-size: 18px;
  }

  @include mixins.mobile-large {
    font-size: 12px;
  }
}

.promoImage {
  position: absolute;
  bottom: -16px;

  animation: promoImage 10s ease-in-out infinite;

  &Sound {
    left: 0;

    @include mixins.mobile-large {
      display: none;
    }
  }

  &Gift {
    right: 0;

    @include mixins.mobile-large {
      right: -60px;
    }
  }
}

.promoCta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 31.5px;
  color: rgba(164, 82, 215, 1);
  background: var(--color-white-default);
  border-radius: 22px;
  font-size: 18px;
  font-weight: 700;

  gap: 6px;

  @include mixins.tablet {
    font-size: 14px;

    padding: 0 20px;
  }

  @media (max-width: 982px) {
    padding: 0 11px;
  }

  @include mixins.mobile-large {
    font-size: 12px;

    line-height: 1.4;

    padding: 6px 5.5px;

    height: 30px;
    max-width: 157px;
    width: 100%;
  }
}


.mobile {
	display: flex;
	justify-content: space-between;
  width: 100%;

  &Inner {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.iconSale {
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}

@keyframes promoImage {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
