@use "@styles/func";
@use "@styles/mixins";

.root {
  position: relative;
  max-width: 1520px;
  margin: 0 auto 24px;
  width: 100%;
  border-radius: func.rem(24);
  color: var(--color-white-default);
  background-color: var(--color-purple);
}

.wrapper {
  display: flex;
  padding: func.rem(40);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: func.rem(50);
}

.grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: func.rem(32);
}

.brand {
  max-width: func.rem(360);
}

.logo {
  max-width: 285px;
  width: 100%;
  max-height: 48px;
  height: 48px;

  svg {
    width: 100%;
    max-height: 48px;
    height: 100%;
  }
}

.subtitle {
  margin-top: func.rem(16);
  line-height: 1.5;
  opacity: 0.9;
}

.social {
  display: flex;
  gap: func.rem(12);
  margin-top: func.rem(16);
}

.socialBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: func.rem(36);
  height: func.rem(36);
  border-radius: func.rem(8);
  background: rgba(255 255 255 / 12%);
  color: var(--color-white-default);
  font-weight: 700;
}

.contacts {
  margin-top: func.rem(4);
}

.title {
  font-weight: 700;
  margin-bottom: func.rem(12);
}

.contactList {
  display: grid;
  gap: func.rem(10);
}

.contactItem {
  display: grid;
  grid-template-columns: func.rem(18) 1fr;
  align-items: start;
  gap: func.rem(10);
  opacity: 0.95;
}

.icon {
  line-height: 0;
}

.navCol {
  margin-top: func.rem(4);
}

.links {
  display: grid;
  font-size: func.rem(18);
  gap: func.rem(18);
}

.bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: func.rem(16);
  align-items: center;
  justify-content: space-between;
  opacity: 0.9;
  font-size: func.rem(12);
  text-decoration: underline;
}

@include mixins.tablet-small {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .bottom {
    grid-template-columns: 1fr;
  }
}

@include mixins.mobile-large {
  .grid {
    grid-template-columns: 1fr;
  }
}
