@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	width: 100%;

	border-radius: 24px;

	overflow: hidden;
}

.inner {
	display: grid;
	gap: func.rem(24);

	&.inner_split {
		grid-template-columns: minmax(0, 55%) minmax(0, 45%);
		align-items: center;

		@include mobile-large {
			grid-template-columns: 1fr;
		}
	}
}



.content {
	display: grid;
	background-color: #FFF;

	border-radius: 24px;

	height: 100%;

	padding: func.rem(40);

	gap: func.rem(16);
	max-width: 100%;

	@include tablet {
		padding: 24px;
	}

	@include mobile-large {
		gap: 12px;

		padding: 16px 12px;

		background-color: transparent;
	}

	&.content_solidLimit {
		max-width: 60%;

		@include tablet-small {
			max-width: 100%;
		}
	}
}

.title {
	font-size: func.rem(50);
	line-height: 1.4;
	font-weight: 700;
	gap: func.rem(12);

	color: #333;

	@media (max-width: 1396px) {
		font-size: func.rem(48);
	}

	@include tablet {
		font-size: 32px;
	}

	@include mobile-large {
		font-size: 24px;
	}
}

.title_sm {
  font-size: 40px;
	line-height: 1.4;
	font-weight: 700;

	@include tablet {
		font-size: 32px;
	}

	@include tablet-small {
		font-size: 24px;
	}

	@include mobile-small {
		font-size: 18px;
	}
}

.title_md {
  font-size: 50px;
	line-height: 1.4;
	font-weight: 700;

	@include tablet-small {
		font-size: 32px;
	}

	@include mobile-small {
		font-size: 24px;
	}
}

.title_lg {
  font-size: 54px;
	line-height: 1.4;
	font-weight: 700;

	@include tablet-small {
		font-size: 32px;
	}

	@include mobile-small {
		font-size: 24px;
	}
}

.subtitle {
	max-width: 100%;

	font-size: func.rem(20);
	font-weight: 700;
	line-height: 1.5;
	color: rgba(24, 24, 24, 0.8);

	@include tablet {
		font-size: 18px;
	}

	@include mobile-large {
		font-size: 16px;
	}
}

.description {
	max-width: 100%;

	color: rgba(24, 24, 24, 0.8);
	font-size: func.rem(14);
	font-weight: 400;
	line-height: 1.5;

	@include tablet {
		font-size: 14px;
	}
}

.subDescription {
	max-width: 100%;

	font-size: func.rem(20);
	font-weight: 700;
	line-height: 1.5;
	color: rgba(24, 24, 24, 0.8);

	@include tablet {
		font-size: 18px;
	}

	@include mobile-large {
		font-size: 16px;
	}
}

.buttonsWrap {
	display: flex;
	flex-direction: column;
	gap: func.rem(12);
	align-items: center;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: func.rem(12);

	width: 100%;

	@include tablet {
		flex-direction: column;
	}

	button {
		@include tablet {
			font-size: 18px !important;

			width: 100%;
			height: 56px;
		}

		@include tablet-small {
			font-size: 16px !important;
		}
	}
}

.buttonsNote {
	font-size: func.rem(16);
	font-weight: 400;
	line-height: 1.5;
	color: rgba(24, 24, 24, 0.8);

	@include tablet {
		font-size: 16px;
	}
}

.imageWrap {
	position: relative;
	overflow: hidden;
	border-radius: 24px;
	min-height: func.rem(300); /* подберите нужную высоту */

	@include tablet {
		height: 100%;
	}

	img {
		@include tablet {
			height: 100% !important;
		}
	}
}

.image {
	object-fit: cover;
}
